<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head lang="pl">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {# Facebook #}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:locale " content="pl_PL" />
  <meta property="og:image:url" content="{{ page.image }}" />
  <meta property="og:image:width" content="{{ page.imageWidth }}" />
  <meta property="og:image:height" content="{{ page.imageHeight }}" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <style>{{ css|safe }}</style>
  <script src="{{ jsPath }}" defer></script>
</head>
<body>
  
  <header class="header">
    <div class="container">
      <div class="header-wrapper">
        <div class="logo header-item">
          <h1 class="logo-holder">
            <span class="logo-part logo-part--em">em</span>
            <span class="logo-part">pati</span>
            <span class="logo-part logo-part--em">a</span>
          </h1>
        </div>
        {% include './components/navbar.html' %}
      </div>
    </div>
  </header>
  
  <main class="main">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer class="footer"></footer>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79941630-1', 'auto');
  ga('send', 'pageview');

</script>

  {% if livereloadEnabled %}
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
  {% endif %}
</body>
</html>
