{% from "../macros/menu-item.html" import menuItem %}

<nav class="navbar pure-menu header-item js-navbar">
  <button class="navbar-hamburger js-toggle-menu js-hamburger hamburger hamburger--squeeze" type="button"
        aria-label="Menu" aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <ul class="navbar-list pure-menu-list pure-menu-horizontal">
    {{ menuItem("story", "Historia Patrycji", "is-current") }}
    {{ menuItem("examination", "Jak wygląda badanie") }}
    {{ menuItem("apply", "Gdzie się zgłosić") }}
  </ul>
  <div class="navbar-background js-toggle-menu"></div>
</nav>
