$banner-height: 500px;
$banner-height-sm: 300px;
$banner-parenthesis-size: 300px;
$banner-parenthesis-width: 22%;

%banner-item {
  padding-bottom: 30%;

  @media screen and (min-width: $breakpoint-md) {
    padding-bottom: 50%;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
  }
}

%banner-parentheses {
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  width: $banner-parenthesis-width;
  box-sizing: border-box;

  @media screen and (min-width: $breakpoint-md) {
    font-size: $banner-parenthesis-size;
    color: #fff;
    visibility: visible;
  }
}

.banner {
  background: $color-secondary;
  min-height: $banner-height-sm;
  position: relative;
  overflow: hidden;
  margin-bottom: $columns-spacing;

  @media screen and (min-width: $breakpoint-md) {
    min-height: $banner-height;
  }

  &-caption {
    @extend %banner-item;

    font-size: 1.5rem;
    line-height: $text-line-height;
    padding: $columns-spacing;
    left: 0;

    @media screen and (min-width: $breakpoint-md) {
      padding: 100px $columns-spacing $columns-spacing;
    }
    
    &:before {
      $spacing: 12px;
      @extend %banner-parentheses;
      content: "{";
      margin-left: -$spacing;
      margin-right: $spacing;
    }

    &:after {
      @extend %banner-parentheses;
      content: "}";
      text-align: right;
    } 
  }

  &-description {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100% - ($banner-parenthesis-width * 2);
    vertical-align: middle;
    margin-top: 35px;
  }

  &-image {
    @extend %banner-item;
    background-size: cover;
    background-position: center 30%;
    right: 0;
    padding-bottom: 50%;

    @media screen and (min-width: $breakpoint-md) {
      background-position: center;
    }
  }
}
