@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);

.container {
  max-width: $max-site-width;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  color: $text-color-primary;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $font-size-base;
}

a {
  color: $text-color-primary;
  text-decoration: none;

  &:hover {
    color: darken($color-secondary, 20%);
  }
}

*{
  box-sizing: border-box;
}

.main {
  transform: translateY($header-height);
}
