$heading-spacing-sm: .4em;
$heading-spacing-md: 3em;

.heading {
  margin: 0 0 1em;
  overflow: hidden;

  &--section {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
  }

  &-content {
    position: relative;
    padding: $heading-spacing-sm 0;
    display: inline-block;
    text-transform: uppercase;

    .heading--section & {
      @include square("left", 40px);
      @include square("right", 40px);
      color: #fff;
      background: $color-primary;
      padding: $heading-spacing-sm $heading-spacing-md;
    }

    .heading--step & {
      font-size: 0.9rem;
      background: #fff;
    }
  }
}
