.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
  height: $header-height;

  &-wrapper {
  padding: 0 $columns-spacing;
  background: #fff;
	display: flex;
  justify-content: space-between;

    @media screen and (min-width: $breakpoint-lg) {
      padding: 0 (2 * $columns-spacing);
    }
  }

  &-item {
    align-self: center;
  }
}
