$arrow-bottom-size: $columns-spacing;

.howto {
  &-summary {
    border: 5px solid $color-secondary;
  }

  &-test {
    box-sizing: border-box;

    &--blod {
      @media screen and(min-width: $breakpoint-md) {
        padding-left: $columns-spacing;
      }
    }

    &--swab {
      @media screen and(min-width: $breakpoint-md) {
        padding-right: $columns-spacing;
      }
    }
  }

  &-icon {
    width: 25%;
  }

  &-steps {
    list-style: none;
    padding: 0;
    margin: 0 0 $columns-spacing;
  }

  &-step {
    position: relative;
    margin: 0 0 $columns-spacing;

    &:after {
      content: "";
      position: absolute;
      bottom: -$arrow-bottom-size;
      left: calc(50% - #{$arrow-bottom-size / 2});
    }

    .howto-test--swab & {
      &:after {
        @include arrow("bottom", $arrow-bottom-size, $color-primary);

        @media screen and (min-width: $breakpoint-md) {
          left: auto;
          right: 0;
          margin: 0 $columns-spacing;
        }
      }
    }

    .howto-test--blod & {
      &:after {
        @include arrow("bottom", $arrow-bottom-size, $color-secondary);
        
        @media screen and (min-width: $breakpoint-md) {
          left: 0;
          margin: 0 $columns-spacing;
        }
      }
    }

    &--even {
      @media screen and (min-width) {
        .howto-test--swab & {
          &:after {
            left: 0;
            right: auto;
          }
        }

        .howto-test--blod & {
          &:after {
            right: 0;
            left: auto;
          }
        }
      }
    }

    .heading-content {
      padding-left: $columns-spacing;
      padding-right: $columns-spacing;
    }

    .howto-content {
      font-size: 0;

      > span {
        display: inline-block;
        font-size: $font-size-base;
      }
    }
  }

  &-content {
    padding: $columns-spacing-sm $columns-spacing $columns-spacing;

    a {
      text-decoration: underline;
      word-break: break-word;
    }

    .howto-test--swab & {
      background: $color-primary;

      .howto-heading {
        margin-left: -$columns-spacing;
      }
    }

    .howto-test--blod & {
      background: $color-secondary;
      margin-left: -$columns-spacing;

      @media screen and (min-width: $breakpoint-md) {
        margin-left: 0;
        .howto-heading {
          margin-left: 0;
          margin-right: -$columns-spacing;
          text-align: right;
        }
      }
    }

    &--odd {
      .howto-test--blod & {
        .heading-content {
            @include square("right", 40px, $color-secondary);
          }

        @media screen and (min-width: $breakpoint-md) {

          .heading-content {
            &:after {
              content: none;
            }

            @include square("left", 40px, $color-secondary);
          }
        }
      }

      .howto-test--swab & {
        .heading-content {
          @include square("right", 40px, $color-primary);
        }
      }
    }

    &--even {
      .howto-test--blod & {
        .heading-content {
          @include square("right", 40px, $color-secondary);
        }

        @media screen and (min-width: $breakpoint-md) {
          .heading-content {
            &:after {
              content: none;
            }

            @include square("right", 40px, $color-secondary);
          }

          .howto-heading {
            text-align: left;
            margin-left: -$columns-spacing;
          }
        }
      }

      .howto-test--swab & {
        .heading-content {
          @include square("right", 40px, $color-primary);
        }

        @media screen and (min-width: $breakpoint-md) {
          .heading-content {
            &:after {
              content: none;
            }

            @include square("left", 40px, $color-primary);
          }

          .howto-heading {
            text-align: right;
            margin-right: -$columns-spacing;
          }
        }
      }
    }
  }

  &-description {
    width: 50%;
  }
}
