.howto {
  &-summary {
    border: 5px solid $color-secondary;
  }

  &-test {
    box-sizing: border-box;

    &--blod {
      @media screen and(min-width: $breakpoint-md) {
        padding-left: $columns-spacing;
      }
    }

    &--swab {
      @media screen and(min-width: $breakpoint-md) {
        padding-right: $columns-spacing;
      }
    }
  }
  &-steps {
    counter-reset: howto-step;
    list-style: none;
    padding: 0;
    margin: 0 0 $columns-spacing;
  }

  &-step {
    counter-increment: howto-step;
    position: relative;
    margin: 0 0 $columns-spacing;

    .heading-content {
      padding-left: $columns-spacing;
      padding-right: $columns-spacing;
    }

    .howto-content {
      font-size: 0;

      > span {
        display: inline-block;
        font-size: $font-size-base;
      }
    }
  }

  &-content {
    padding: $columns-spacing-sm $columns-spacing $columns-spacing;

    .howto-test--swab & {
      background: $color-primary;

      .howto-heading {
        margin-left: -$columns-spacing;
      }
    }

    .howto-test--blod & {
      background: $color-secondary;

      @media screen and (min-width: $breakpoint-md) {
        .howto-heading {
          margin-right: -$columns-spacing;
          text-align: right;
        }
      }
    }

    &--odd {
      .howto-test--blod & {
        @media screen and (min-width: $breakpoint-md) {
          @include howto-counter("after");
          @include howto-icon("icon", "before");
        }
      }

      .howto-test--swab & {
        @media screen and (min-width: $breakpoint-md) {
          @include howto-counter("before");
          @include howto-icon("icon", "after");
        }
      }
    }

    &--even {
      .howto-test--blod & {
        @media screen and (min-width: $breakpoint-md) {
          @include howto-counter("before");
          @include howto-icon("icon", "after");

          .howto-heading {
            text-align: left;
            margin-left: -$columns-spacing;
          }
        }
      }

      .howto-test--swab & {
        @media screen and (min-width: $breakpoint-md) {
          @include howto-counter("after");
          @include howto-icon("icon", "before");

          .howto-heading {
            text-align: right;
            margin-right: -$columns-spacing;
          }
        }
      }
    }
  }

  &-description {
    width: 50%;
  }

  &-placeholder {
    width: 25%;
    color: #fff;
    vertical-align: bottom;
    line-height: 0;

    &--before {
      text-align: left;
    }

    &--after {
      text-align: right;
    }
  }
}
