.navbar {
  padding: 0 $columns-spacing;

  &-link {
    display: inline-block;
    padding: $columns-spacing-sm 0;
    margin-right: $columns-spacing-sm;
  }

  &-item {
    &.is-current .navbar-link {
      color: $color-secondary;
    }

  }
}
