$spacing: 20px;

.navbar {
  @include horizontalLine();
  
  &-link {
    display: inline-block;
    padding: $spacing 0;
    margin-right: $spacing;
  }

  &-item {
    &.is-current .navbar-link {
      color: $color-secondary;
    }

  }
}
