.section {
  padding-bottom: $columns-spacing;

  &--hide-heading {
    .section-heading {
      height: 0;
      overflow: hidden;
      margin: 0;
    }
  }

  &--extra-margin {
    .section-content {
      @media screen and (min-width: $breakpoint-sm) {
        p {
          padding: 0 (2 * $columns-spacing);
        }
      }
    }
  }

  &-content {
    p {
      padding: 0 $columns-spacing;
      line-height: $text-line-height;
      font-weight: $text-font-weight;
      margin-top: 0;
    }

    &--columns {
      @media screen and (min-width: $breakpoint-sm) {
        column-count: 2;
      }
    }
  }
}
