.section {
  &--hide-heading {
    .section-heading {
      height: 0;
    }
  }

  &-heading {
    margin: 0;
  }

  &-content {
    p {
      margin-top: 0;

      @media screen and (min-width: $breakpoint-sm) {
        padding: 0 1em;
      }
    }

    &--columns {
      @media screen and (min-width: $breakpoint-sm) {
        column-count: 2;
      }

      padding: 2em 0;
    }
  }
}
