$max-site-width: 1024px;
$site-padding: 20px;

$color-primary: #2bc7eb;
$color-secondary: #c5c6c6;

$text-color-primary: #151515;

$header-height: 80px;

$breakpoint-sm: 35.5em;
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$breakpoint-xl: 80em;

$columns-spacing: 1.5rem;
$columns-spacing-sm: ($columns-spacing / 2);

$font-size-base: 16px;

@mixin horizontalLine($color: lighten($color-primary, 50%)) {
  border-bottom: 1px solid $color;
}

@mixin square($side, $size, $color: #fff) {
  $pseudoClass: if($side == "left", "before", "after");

  &:#{$pseudoClass} {
    content: "";
    display: block;
    width: $size;
    height: $size;
    background: $color;
    position: absolute;
    #{$side}: 0;
    top: calc(50% - #{$size / 2});
    transform: rotate(45deg);
    margin-#{$side}: -($size / 2);
  }
}

@mixin howto-counter($position) {
  .howto-placeholder--#{$position}:before {
    content: counter(howto-step);
    font-size: 10rem;
  }
}

@mixin howto-icon($icon, $position) {
  .howto-placeholder--#{$position}:before {
    content: url("http://placekitten.com/100/150");
  }
}
