{% extends "../templates/section.html" %}
{% from "../macros/icon.html" import icon %}
{% from "../macros/howto.html" import howtoStep %}

{% block id %}examination{% endblock %}
{% block heading %}Jak zostać dawcą szpiku?{% endblock %}
{% block content %}
  <div class="howto pure-g">
    <div class="howto-track howto-track--one pure-u-1 pure-u-md-1-2">
      <ol class="howto-steps">
        {{howtoStep({
          modifier: 'odd',
          title: 'Zamów online pakiet rejestracyjny',
          description: 'Procedura zarejestrowania się zajmuje niewiele czasu. Zamów pakiet na <a href="http://www.dkms.pl/pl/zostan-dawca" target="_blank">http://www.dkms.pl/pl/zostan-dawca</a>',
          iconCounter: 'one',
          icon: 'screen',
          track: 'one'
        })}}

        {{howtoStep({
          modifier: 'even',
          title: 'Pobierz wymaz',
          description: 'Po maksymalnie 2-3 tygodniach zostanie przesłany pakiet rejestracyjny zawierający pałeczki do pobrania wymazu z jamy ustnej oraz formularz do wypełnienia.',
          iconCounter: 'two',
          icon: 'lips',
          track: 'one'
        })}}

        {{howtoStep({
          modifier: 'odd',
          title: 'Odesłanie pakietu',
          description: 'Pałeczki wraz z deklaracją należy odesłać pocztą na adres Fundacji DKMS. Z przesłanej próbki wykonywana jest typizacja antygenów zgodności tkankowej.',
          iconCounter: 'three',
          icon: 'letter',
          track: 'one'
        })}}
      </ol>
    </div>
    <div class="howto-track howto-track--two pure-u-1 pure-u-md-1-2">
      <ol class="howto-steps">
        {{howtoStep({
          modifier: 'odd',
          title: 'Zgłoś się do najbliższej placówki',
          description: 'Można zgłosić się w Regionalnym Centrum Krwiodastwa i Krwiolecznistwa w autobusie RCKiK lub podczas ekip stacjonarnych.',
          iconCounter: 'one',
          icon: 'hospital',
          track: 'two'
        })}}

        {{howtoStep({
          modifier: 'even',
          title: 'Zarejestruj się',
          description: 'Nie trzeba wcześniej uzgadniać wizyty. Zgłaszając się należy mieć przy sobie dokument ze zdjęciem. Po zarejestrowany kandydat na dawcę kierowany jest na badania.',
          iconCounter: 'two',
          icon: 'file',
          track: 'two'
        })}}

        {{howtoStep({
          modifier: 'odd',
          title: 'Pobranie krwi',
          description: 'Następnie pobrane zostaną dwie próbki (12 ml) krwi żylnej. Z jednej próbowki wykonane zostanie badanie zgodności tkankowej druga probówka zostaje zamrożona jako próbka archiwizacyjna.',
          iconCounter: 'three',
          icon: 'drop',
          track: 'two'
        })}}

      </ol>
    </div>
    <div class="howto-summary pure-u-1">
      <div class="howto-content">
        <h3 class="howto-heading heading heading--section">
          <span class="heading-content">Rejestr dawców</span>
        </h3>
        <div class="howto-main howto-main--summary">
          {{ icon('healthcare', 'howto-icon') }}
          <span class="howto-description">
            Wyniki badań wraz z danymi dawców umieszone są w polskim Centralnym Rejestrze Niespokrewnionych Dawców Szpiku i Krwi Pępowinowej. Następnie udostępnione całemu światu poprzez zgłoszenie do światowego rejestru Bone Marrow Donors Worldwide (BMWD). Po podjęciu decyzji o przeszczepie ośrodek w którym przebywa pacjent przeszukuje całą bazę dawców na świecie - obecnie jest to nieco ponad 25 milionów dawców. Dawcą szpiku można być do ukończenia 55 roku życia jednak samego zarejestrowania się w Bazie należy dokonać do 45 roku życia.
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
