{% extends "../templates/section.html" %}

{% block id %}story{% endblock %}
{% block heading %}Historia Patrycji{% endblock %}
{% block modifier %}section--hide-heading section--extra-margin{% endblock %}
{% block content %}
  {% include '../components/banner.html' %}
  <div class="section-content section-content--columns">
    <p>
      Co godzinę ktoś w Polsce dowiaduje się, że choruje na białaczkę, czyli nowotwór krwi. O tym fakcie na początku czerwca dowiedziała się Patrycja Krawczyk. Życie Patrycji mogą uratować komórki macierzyste od zgodnego genetycznie dawcy. Większość z nas posiada gdzieś na świecie swojego bliźniaka genetycznego. Kogoś o praktycznie identycznym kodzie genetycznym jak my. Jednak jego odnalezienie nie jest proste. Szansa, że dwie niespokrewnione osoby będą genetycznie zgodne waha się od 1:1000 do 1:1&nbsp;000&nbsp;000.
    </p>
  </div>
{% endblock %}
